<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lh - 回测流动性</title>
    <script src="../../static/js/echarts.js"></script>
  </head>
  <body>
    <script src="../../static/js/echarts_set_myenvironment.js"></script>
    <a href="/">返回首页</a>
    <h1>回测流动性</h1>
    <form action="/huice/liudongxing/set_time_span" method="post">
        起止时间：<input name="trade_time_beg">-<input name="trade_time_end"><button type="submit">开始回测</button>
    </form>
    <h2>已设置：{{beg_date}}-{{end_date}}</h2>
    <form action="/save_buf" method="post">
      <button>保存下载的数据</button>
    </form>
    <h3>今日复盘：{{trade_date}}</h3>
    <h4>收盘总值：{{end_total}} 收盘现金：{{end_cash}} 昨日涨额：{{change}} 昨日涨幅: {{chg_pct}}%</h4>
    {{account_lines_html|safe}}
    <h4>收盘tags:</h4>
    <table>
      <tr>
        <th>相关股票数</th>
        <th>tags</th>
      </tr>
      {% for count_tags in end_tags %}
      <tr>
        <td>{{count_tags[0]}}</td>
        <td>{{count_tags[1]}}</td>
      </tr>
      {% endfor %}
    </table>
    <!-- <div>{{end_tags}}</div> -->
    <form action="/huice/liudongxing/working/choosing" method="post">
      <h3>持仓股票</h3>
      <table>
        <tr>
          <th>持仓数量</th>
          <th>持仓市值</th>
          <th>相关板块热点</th>
          <th>历史k线</th>
          <th>分时</th>
          <th>是否清仓</th>
          <th>加仓金额及手数</th>
          <th>是否跟踪低吸</th>
        </tr>
        {% for stk in end_pool %}
        <tr>
          <td>{{stk.have_vol}}股</td>
          <td>{{stk.have_amount}}</td>
          <td>{{stk.tags}}</td>
          <td>{{stk.candles_html|safe}}</td>
          <td>{{stk.fenshi_html|safe}}</td>
          <td>
            <input name="sell_tscode" value={{stk.ts_code}} hidden>
            <input type="radio" name="sell_type_{{stk.ts_code}}" value="no" checked="checked">不清仓<br>
            <input type="radio" name="sell_type_{{stk.ts_code}}" value="hongpanqingcang">红盘清仓<br>
            <input type="radio" name="sell_type_{{stk.ts_code}}" value="shuishangqingcang">水上清仓<br>
            <input type="radio" name="sell_type_{{stk.ts_code}}" value="dietingqingcang">跌停清仓
          </td>
          <td>
            <input name="buy_tscode" value={{stk.ts_code}} hidden>
            <input name="buy_price" type="number" min="0.00" max="2000.00" step="0.01" value={{stk.buy_price_str}}>
            <input name="buy_hands" type="number" value="0">
          </td>
          <td>
            <input name="dixi_tscode_from_sell" value={{stk.ts_code}} hidden>
            <input type="radio" name="dixi_from_sell_{{stk.ts_code}}" value="yes" checked="checked">跟踪低吸<br>
            <input type="radio" name="dixi_from_sell_{{stk.ts_code}}" value="no">不跟踪<br>
          </td>
        </tr>
        {% endfor %}
      </table>
      <h3>盘后买单</h3>
      <table>
        <tr>
          <th>相关板块热点</th>
          <th>历史k线</th>
          <th>分时</th>
          <th>挂单金额及手数</th>
          <th>是否跟踪低吸</th>
        </tr>
        {% for stk in daily_pool %}
        <tr>
          <td>{{stk.tags}}</td>
          <td>{{stk.candles_html|safe}}</td>
          <td>{{stk.fenshi_html|safe}}</td>
          <td>
            <input name="buy_tscode" value={{stk.ts_code}} hidden>
            <input name="buy_price" type="number" min="0.00" max="2000.00" step="0.01" value={{stk.buy_price_str}}>
            <input name="buy_hands" type="number" value="0">
          </td>
          <td>
            <input name="dixi_tscode_from_buy" value={{stk.ts_code}} hidden>
            <input type="radio" name="dixi_from_buy_{{stk.ts_code}}" value="yes" checked>跟踪低吸<br>
            <input type="radio" name="dixi_from_buy_{{stk.ts_code}}" value="no">不跟踪<br>
          </td>
        </tr>
        {% endfor %}
      </table>
      <button type="submit">下一日</button>
    </form>
    <script src="../../static/js/echarts_enable_all_charts.js"></script>
  </body>
</html>
