<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lh - 回测手工交易</title>
  </head>
  <body>
    <a href="/">返回首页</a>
    <h1>回测手工交易</h1>
    <form action="/huice/tongshougong/set_time_span" method="post">
        起止时间：<input name="trade_time_beg">-<input name="trade_time_end"><button type="submit">开始回测</button>
    </form>
    {% if engine.isWorking %}
        <script src="../../static/js/echarts_set_myenvironment.js"></script>
        <h2>已设置：{{engine.beg_date}}-{{engine.end_date}}</h2>
        <h3>今日复盘：{{engine.trade_date}}</h3>
        <h4>收盘总值：{{engine.end_total}} 收盘现金：{{engine.end_cash}}</h4>
        <form action="/huice/2ban/working/choosing" method="post">
        <h3>盘后卖单</h3>
        <table>
            <tr>
                <th>持仓数量</th>
                <th>持仓市值</th>
                <th>相关板块热点</th>
                <th>历史k线</th>
                <th>分时</th>
                <th>是否清仓</th>
            </tr>
            {% for stk in end_pool %}
                <tr>
                    <td>{{stk.have_vol}}股</td>
                    <td>{{stk.have_amount}}</td>
                    <td>{{stk.tags}}</td>
                    <td>{{stk.candles_html|safe}}</td>
                    <td>{{stk.fenshi_html|safe}}</td>
                    <td>
                        <input name="sell_tscode" value={{stk.ts_code}} hidden>
                        <input type="radio" name="qingcang" value="no" checked="checked">不清仓<br>
                        <input type="radio" name="qingcang" value="hongpan">红盘清仓<br>
                        <input type="radio" name="qingcang" value="dieting">跌停清仓
                    </td>
                </tr>
            {% endfor %}
        </table>
        <h3>盘后买单</h3>
        <table>
            <tr>
            <th>股票代码</th>
            <th>股票名称</th>
            <th>相关板块热点</th>
            <th>历史k线</th>
            <th>分时</th>
            <th>挂单金额及手数</th>
            </tr>
            {% for stk in daily_pool %}
            <tr>
            <td>{{stk.ts_code}}</td>
            <td>{{stk.ts_name}}</td>
            <td>{{stk.tags}}</td>
            <td>{{stk.candles_html|safe}}</td>
            <td>{{stk.fenshi_html|safe}}</td>
            <td>
                <input name="buy_tscode" value={{stk.ts_code}} hidden>
                <input name="buy_price" type="number" min="0.00" max="200.00" step="0.01" value={{stk.buy_price_str}}>
                <input name="buy_hands" type="number" value="0">
            </td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">下一日</button>
        </form>
        <script src="../../static/js/echarts_enable_all_charts.js"></script>
    {% endif %}
  </body>
</html>
